@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.solid1 {
  border: 1px solid black;
  opacity: 0.1;
  height: 3950px;
}
.solid2 {
  border: 1px dashed black;
  opacity: 0.1;
  height: 3950px;
  border-style: dashed;
}

/* Border stayle 2 - page */

.solid01 {
  border: 0.1px solid black;
  opacity: 0.1;
  height: 2050px;
}
.solid02 {
  border: 0.5px dashed black;
  opacity: 0.1;
  height: 2050px;
  border-style: dashed;
}

.solid3 {
  border: 0.1px solid black;
  opacity: 0.1;
  height: 2970px;
}

.solid03 {
  border: 0.5px dashed black;
  opacity: 0.1;
  height: 2970px;
  border-style: dashed;
}

.bggradient {
  background: linear-gradient(
    82.04deg,
    #6d25e1 21.88%,
    #6d25e1 58.35%,
    rgba(109, 37, 225, 0.848238) 78.38%,
    rgba(109, 37, 225, 0.6) 98.82%
  );
}

.bg-1 {
  background: #1a1524;
}

.wedu {
  filter: drop-shadow(-40px 40px 60px rgba(41, 37, 85, 0.1));
}


.App-logo {
  width: 1100px;
  height: 920px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 110s linear;
  }
}

.App-header {
  min-height: 70vh;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.bggrey{
  border-radius: 40px;
  border: 1px solid #858487;
  background: rgba(248, 248, 248, 0.10);
}
